html{
    background-color: #B7DCF4;
}

body{
    background-color: #B7DCF4;

    overflow: hidden;
}

#container {
    background-color: #B7DCF4;
    width: 100vmax;
    height: 100vh;

}
#generate{
    width:50px;
    height:50px;
}

#sine{
    width:50px;
    height:50px;
}
#square{
    width:50px;
    height:50px;
}
#sawtooth{
    width:50px;
    height:50px;
}
#triangle{
    width:50px;
    height:50px;
}

#sineImg{
    max-width:80%;
    max-height:80%;

}

#squareImg{
    max-width:80%;
    max-height:80%;
}

#sawtoothImg{
    max-width:80%;
    max-height:80%;
}

#triangleImg{
    max-width:80%;
    max-height:80%;
}

#playStopContainer{
    background-color: #B7DCF4;

    margin: 20px 20px 20px 20px;
}

#waveBtnContainer{
    margin: 20px 20px 20px 20px;
}

#currentNote{
    color: white;
    font-size: 500px;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#rhythmIndicator{
    color: white;
    position: relative;
    float: right;
    margin: -150px 50px 20px 20px;
}